* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.main .mainform {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.5),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 62% 38% 24% 76% /59% 60% 40% 41%;
}

.main .mainform:hover {
  border-radius: 50%;
}

#number{
  font-size: 1.5rem;
  border-radius: 9px;
}

#btn{
  font-size: 1.2rem;
  border-radius: 5px;
}


#p1 {
  color: black;
  font-size: 1rem;
  margin-top: 7%;
  font-family: 'Bebas Neue', sans-serif;
 max-width: 15vw;
}
